{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page" id="page_1">{% include 'page_1.html' %}</div>
    <div class="page" id="page_2">{% include 'page_2.html' %}</div>
    <div class="page" id="page_3">{% include 'page_3.html' %}</div>
    <div class="page screen-21-9" id="page_4">{% include 'page_4.html' %}</div>
    <div class="page" id="page_5">{% include 'page_5.html' %}</div>
    <div class="page" id="page_6">{% include 'page_6.html' %}</div>
    <div class="page" id="page_7">{% include 'page_7.html' %}</div>
    <div class="page" id="page_8">{% include 'page_8.html' %}</div>
{% endblock %}
