{% load static %}
<page_2 class="full-height_2 gradient_2">
    <div class="flex-container-x">
        <div class="flex-part-x1">
            <p class="lt_wave_black_ex element-to-animate">Něco o nás</p>
            <p class="lt_wave_medium_left element-to-animate">My, Zdeněk Beran a Fedor Fedorchuk, jako zakladatelé Berfedo vidíme obrovský potenciál v moderní době, která díky nejnovějším technologiím dává šanci na úspěch úplně všem. V Berfedo chceme pomoci každému, kdo chce takovou šanci využít.</p>
        </div>
        <div class="flex-part-x2">
            <img src="{% static 'svgs/berfedo.svg' %}" alt="berfedo" class="berfedo-svg element-to-animate">
        </div>
    </div>
</page_2>