{% load static %}
<a id="med_zast"></a>
<page_6 class="full-height_6 gradient_6">
    <div class="flex-container-mz">
        <div class="flex-part-mz-text">
            <p class="lt_wave_black_mz element-to-animate">Mediální zastupování</p>
            <p class="lt_wave_medium_mz element-to-animate">Budeme vás zastupovat při jednáních spojených s reklamou, vytvoříme reklamní plán, povedeme reklamní kampaně a rádi splníme jakékoliv související přání.</p>
        </div>
        <div class="flex-part-mz-img element-to-animate">
            <img src="{% static 'svgs/notebook.svg' %}" alt="notebooks" class="notebook-svg">
            <img src="{% static 'svgs/man-2.svg' %}" alt="man-2" class="man-2-svg">
        </div>
    </div>
</page_6>