{% load static %}
<page_1 class="gradient_1">
    <p class="lt_wave_black element-to-animate">
        Podnikání je plán, jaký je ten <span id="word" class="highlight">v<span class="highlight">á</span><span class="highlight">š</span><span>?</span></span><span id="caret" class="caret"></span></p>
    <p class="lt_wave_medium element-to-animate">Svět se mění. Byznys se mění také. Musí se zdigitalizovat. Je potřeba se zamyslet a zaměřit na budoucnost. V Berfedo poskytujeme řadu služeb, abychom pro vás byli v tomto podporou.</p>
</page_1>
