{% load static %}
<a id="spec_sl"></a>
<page_8 class="full-height_8 gradient_8">
    <div class="img-spec-sl">
        <img src="{% static 'svgs/spec-sl.svg' %}" alt="special-sl" class="spec-sl-svg element-to-animate">
    </div>
    <p class="lt_wave_medium_spec element-to-animate">Rádi vám pomůžeme také s velice individuálními záležitostmi (zábor veřejného prostranství za účelem pořádání soukromé/podnikatelské akce, vyřízení odstranění graffiti, zastupování před úřady v jakémkoliv řízení atd.), stačí nám pouze sdělit s čím potřebujete pomoci.</p>
    <div class="man-3-svg-container element-to-animate">
        <img src="{% static 'svgs/man-3.svg' %}" alt="man-3" class="man-3-svg">
    </div>
</page_8>