{% load static %}
<a id="design"></a>
<page_4 class="full-height_4 gradient_4">
    <img src="{% static 'svgs/menus.svg' %}" alt="menus" class="menus-svg element-to-animate">
    <div class="text-design">
        <p class="lt_wave_black_design element-to-animate">Design</p>
        <p class="lt_wave_medium_design element-to-animate">Připravujeme infografiku jakýchkoliv požadavků (jídelní lístek, plakát, billboard, graffiti) a dále také logotypy.
Tvoříme webové stránky podle vašich představ.</p>
    </div>
    <img src="{% static 'svgs/sites.svg' %}" alt="sites" class="sites-svg element-to-animate">
    <img src="{% static 'phone-design.png' %}" alt="design" class="phone-design element-to-animate">
</page_4>