{% load static %}
<a id="video"></a>
<page_7 class="gradient_7">
    <div class="flex-container-video-pr">
        <img src="{% static 'svgs/ipad.svg' %}" alt="ipad" class="ipad-svg element-to-animate">
        <div class="video-pr-text">
            <p class="lt_wave_black_pr element-to-animate">Video production<br> a marketing</p>
            <p class="lt_wave_medium_pr element-to-animate">Připravíme marketingová videa, propagační akce, workshopy a další požadavky tak, aby byly podle vašich představ a v co nejkratší době.</p>
        </div>
    </div>
</page_7>