{% load static %}
<a id="ai"></a>
<page_3 class="gradient_3">
    <div class="flex-container-ai">
        <div class="flex-part-ai1">
            <img src="{% static 'svgs/ai.svg' %}" alt="ai" class="ai-svg element-to-animate">
        </div>
        <div class="flex-part-ai2">
            <p class="lt_wave_black_ai element-to-animate">AI</p>
            <p class="lt_wave_medium_ai element-to-animate">Umělá inteligence je náš velký koníček. Vytvoříme chatbota, poradíme ohledně AI asistentů a nástrojů, naučíme implementovat AI do běžné pracovní rutiny.</p>
        </div>
    </div>
</page_3>